# Ignore operating system files
.DS_Store
Thumbs.db

# Ignore IDE files
.vscode/
.idea/

# Ignore package manager files
node_modules/
package-lock.json

# Ignore log files
*.log

# Ignore temp files
*.tmp

#enviroment
.env